@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content";

@theme inline {
  /* Header Sizes */
  --header-1: --spacing(7);
  --header-2: --spacing(6.5);
  --header-3: --spacing(6);
  --header-4: --spacing(5);
  --header-5: --spacing(4.5);
  --header-6: --spacing(4);

  /* Animations */
  --animate-blink: blink 1s infinite;

  @keyframes blink {
    0% {
      border-color: transparent;
    }

    45% {
      border-color: transparent;
    }

    50% {
      border-color: var(--color-gray-400);
    }

    100% {
      border-color: var(--color-gray-400);
    }
  }
}

@utility header-* {
  font-size: --value(--header-*);

  font-weight: --modifier(--font-weight-*, [length], [*]);
}

/* Aspect Ratios */
@utility aspect-* {
  @supports (aspect-ratio: 1 / 1) {
    aspect-ratio: --value(--aspect-ratio-*, ratio, [ratio]);
  }

  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      content: '';
      float: left;
      padding-top: calc(100% / (--value(--aspect-ratio-*, ratio, [ratio])));
    }

    &::after {
      clear: left;
      content: '';
      display: block;
    }
  }
}

@layer base {
  :root {
    --color-dark: oklch(26.03% 0 0);
    --ui-container: var(--container-2xl);
    --ui-bg: var(--color-gray-50);
    --ui-text: var(--color-gray-700);
    --ui-border: var(--color-gray-300);
    --ui-bg-muted: var(--color-gray-100);
    --ui-bg-elevated: var(--color-gray-100);
  }

  .dark {
    --ui-bg: var(--color-dark);
    --ui-text: var(--color-gray-400);
    --ui-border: var(--color-gray-600);
    --ui-bg-muted: oklch(0.3 0 0 / 1);
    --ui-border-muted: var(--color-gray-600);
    --ui-bg-elevated: oklch(0.3 0 0 / 1);
  }

  html {
    font-family: var(--font-sans);
  }

  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: var(--header-1);
  }
  h2 {
    font-size: var(--header-2);
  }
  h3 {
    font-size: var(--header-3);
  }
  h1,
  h2,
  h3 {
    font-weight: var(--font-weight-semibold);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-tight);
  }
}

.dark .prose .hljs-string {
  color: var(--color-green-500);
}

/* Nuxt Link Active Class */
.router-link-exact-active, .router-link-active {
  color: var(--color-green-500);
  font-width: var(--font-weight-semibold);
}

a:not(.custom-link) {
  &:hover {
    color: var(--color-green-600);
  }
}

pre {
  white-space: pre;
}

pre.night-owl {
  background-color: oklch(0.3 0 0 / 1);
}
